@font-face {
  font-family: "ElmsSans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "ElmsSans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "ElmsSans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "ElmsSans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "ElmsSans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-ExtraBold.ttf");
  font-weight: 800;
}

:root {
  --color-white: #ffffff;
  --color-vanilla-100: #f1e4b2;
  --color-vanilla-200: #dcd1b0;
  --color-vanilla-300: #dcd1b0;
  --color-gold-100: #f9ab51;
  --color-gold-200: #ff8215;
  --color-gold-300: #e86009;
  --color-gold-400: #b93905;
  --color-cork: #d59756;
  --color-cocoa-100: #5d4034;
  --color-cocoa-200: #3d251b;

  /* Mode colors */
  --background-color: #fdfbf4;
  --background-color-2: #dcd1b0;
  --font-color: #341f13;
  --hover-color: #f1e4b2;
  --focus-color: #f9ab51;
}

[data-theme="dark"] {
  --color-white: #ffffff;
  --color-vanilla-100: #f9f3dd;
  --color-vanilla-200: #dcd1b0;
  --color-vanilla-300: #cac1a6;
  --color-gold-100: #f9ab51;
  --color-gold-200: #ff8215;
  --color-gold-300: #e86009;
  --color-gold-400: #b93905;
  --color-cork: #d59756;
  --color-cocoa-100: #5d4034;
  --color-cocoa-200: #3d251b;

  /* Mode colors */
  --background-color: #575241;
  --background-color-2: #5d4034;
  --font-color: #fefefc;
  --hover-color: #e86009;
  --focus-color: #b93905;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "ElmsSans";
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100dvh;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.sidebar {
  border-right: 1px solid var(--color-vanilla-200);
  height: 100dvh;
  width: 20%;
  padding: 32px 16px 80px 0;
  @media (max-width: 440px) {
    display: none;
  }
}

.content {
  width: 80%;
  padding: 0 50px;
  @media (max-width: 768px) {
    width: 100%;
  }

  @media (max-width: 440px) {
    padding: 0 16px;
    width: 100%;
  }
}

.card {
  width: 100%;
  padding: 32px 0 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid var(--color-vanilla-200);
  display: flex;
  justify-content: center;

  padding: 10px 40px;

  @media (max-width: 1024px) {
    padding: 10px 16px;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  max-width: 1440px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: 48px;

  @media (max-width: 768px) {
    height: 38px;
  }
}

.nav__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.text {
  width: 70%;
  text-align: left;
  line-height: 32px;
  font-family: "ElmSans", system-ui;
  font-size: 18px;
  font-weight: 400;
  color: var(--font-color);

  @media (max-width: 440px) {
    width: 100%;
    font-size: 16px;
  }
}

.mobile__menu-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: var(--background-color);
}

.mobile__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 18px 0;
  padding: 0 16px;
}

.mobile__menu-list li {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list__link--mobile {
  width: 100%;
  text-align: center;
}

/* Hamburguer button */
.mobile__menu-btn {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0;
  height: 34px;
  width: 34px;
  padding: 2px;
  margin: 1px;

  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 8px;

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile__menu-btn > div {
  height: 2px;
  width: 100%;
  background-color: var(--font-color);
  border-radius: 6px;
  transition: all 0.5s;
  transform-origin: left;
}

.mobile__menu-btn--close div:first-child {
  transform: rotate(45deg);
}

.mobile__menu-btn--close div:nth-child(2) {
  opacity: 0;
}

.mobile__menu-btn--close div:last-child {
  transform: rotate(-45deg);
}

.hidden {
  display: none;
}
