<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla Components</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="./button.css" />

    <script src="../../app.js" type="module"></script>
    <script src="index.js" type="module"></script>
  </head>
  <body>
    <main>
      <site-header class="header"></site-header>
      <div class="container">
        <site-sidebar class="sidebar"></site-sidebar>

        <section class="content">
          <article class="card"></article>
        </section>
      </div>
    </main>
  </body>
</html>
