.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu__list li {
  width: 100%;
}

.list__link {
  display: block;
  text-decoration: none;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 600;
  color: var(--font-color);
  padding: 6px 12px;
}

.list__link--search__components {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media (hover: hover) {
  .list__link:hover {
    background-color: var(--hover-color);
  }
}

.list__link:focus {
  background-color: var(--focus-color);
}

.link--active {
  background-color: var(--focus-color);
}

.hidden {
  display: none;
}
