<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla Components</title>
    <link rel="stylesheet" href="../../styles.css" />
    <link rel="stylesheet" href="../ActionIcon/actionIcon.css" />
    <link rel="stylesheet" href="../Title/title.css" />
    <link rel="stylesheet" href="../SearchButton/searchButton.css" />
    <link rel="stylesheet" href="../NavList/navList.css" />
    <link rel="stylesheet" href="../SearchModal/searchModal.css" />
    <link rel="stylesheet" href="./accordion.css" />

    <script src="../../app.js" type="module"></script>
    <script src="index.js" type="module"></script>
  </head>
  <body>
    <main>
      <site-header class="header"></site-header>
      <div class="container">
        <site-sidebar class="sidebar"></site-sidebar>
        <site-mobile-menu> </site-mobile-menu>

        <section class="content">
          <article class="card">
            <div class="accordion">
              <details class="accordion__detail">
                <summary class="accordion__summary">
                  <span class="accordion__title">🍵 Matcha</span>
                  <span class="accordion__icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" /></svg
                  ></span>
                </summary>
                <p class="accordion__text">
                  A green powder made from ground green tea leaves that is used
                  to make tea and other beverages and as a flavoring agent.
                </p>
              </details>
              <details class="accordion__detail">
                <summary class="accordion__summary">
                  <span class="accordion__title">🍵 Matcha</span>
                  <span class="accordion__icon"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-down"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M6 9l6 6l6 -6" /></svg
                  ></span>
                </summary>
                <p class="accordion__text">
                  A green powder made from ground green tea leaves that is used
                  to make tea and other beverages and as a flavoring agent.
                </p>
              </details>
            </div>
          </article>
          <site-search></site-search>
        </section>
      </div>
    </main>
  </body>
</html>
